---
layout: default
---
{% include home-hero.html %}
<div class="container home-page">
  <h2>More Episodes</h2>

    <div class="subscription-section">
      <a href="https://itunes.apple.com/us/podcast/the-evolution-podcast/id1227497525?mt=2"><i class="fa fa-apple fa-2x" aria-hidden="true"> <span class="apple">iTunes Subscribe</span></i></a><br>
      <a href="http://theevolutionpodcast.com/podcast.rss"><i class="fa fa-rss fa-2x" aria-hidden="true"> <span class="rss">RSS Subscription</span></i></a>
    </div>

    <div class="row">
      {% for post in site.posts limit:3 offset:1 %}
        <div class="list-episode">
          <h3>{{ post.title }}</h3>
          <p class="podcast-meta">Author: {{ post.author }}</p>
          <p class="podcast-meta">Date Published: {{ post.date | date: "%B %-d, %Y" }}</p>
          <p class="podcast-meta">Length: {{ post.duration }}</p>
          <p class="podcast-meta">Size: {{ post.length }}</p>
          <p class="podcast-description">{{ post.excerpt | xml_escape }}</p><br>
          <audio controls>
            <source src="{{ post.file }}" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
        </div>
      {% endfor %}
    </div>
</div>
