<section class="home-hero">
  <div class="hero-copy">
    <strong><h2><a href="http://theevolutionpodcast.com/podcasts.html">Betsy Johnson</a></h2></strong>
    <h3>Category: Sports | Length: 64:07</h3>
    <h5>Betsy Johnson, Founder SwimZip & Shedo Lane. Get to know her story of when life handed her a bundle of lemons and how she decided to turn them into Lemonade!  Her hard work and support system catapulted her into a tremendous amount of success as an entrepreneur and even catching the eye of ABC's hit show Shark Tank. Get to know how her brands SwimZip & Shedo Lane got there start and her vision for the future!</h5>
    <audio controls>
      <source src="https://s3.us-east-2.amazonaws.com/evolution-podcast-files/evolution-2017/004-betsy-johnson.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>
</section>
