<section class="home-hero">
  <div class="hero-copy">
    <strong><h2><a href="http://theevolutionpodcast.com/podcasts.html">Emerson Spartz</a></h2></strong>
    <h3>Category: Sports | Length: 48:33</h3>
		<h5>merson Spartz is one of the world's leading experts on internet virality.<br>He has been featured in major media including the Wall Street Journal, Inc, CBS, CNBC, CNN, and many more. Spartz was named to both Forbes' and Inc Magazine's "30 Under 30" lists.</h5>
    <audio controls>
      <source src="https://s3.us-east-2.amazonaws.com/evolution-podcast-files/evolution-2017/008-emerson-spartz.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>
</section>
