<section class="home-hero">
  <div class="hero-copy">
    <strong><h2><a href="http://theevolutionpodcast.com/podcasts.html">Jessy Schram</a></h2></strong>
    <h3>Category: Sports | Length: 1:26:43</h3>
		<h5>Jessy Schram has been a natural performer since early childhood. At the age of 10, her "intangible star quality" was recognized by the Stewart Talent Agency in Chicago, which signed her as both an actress and fashion model. She immediately established herself as one of Chicago's most successful child models by booking numerous commercials, print campaigns, voice-overs, and television work.</h5>
    <audio controls>
      <source src="https://s3.us-east-2.amazonaws.com/evolution-podcast-files/evolution-2017/011-jessy-schram.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>
</section>
