{% include header.html %}

<nav>
  <div class="container">

    <div class="three columns logo-column">
      <a href="/index.html"><img src="assets/images/logo.png" alt="Logo" class="logo"></a>
    </div>

    <div class="nine columns">

      <ul class="nav-list">
        <a href="/podcasts.html"><li class="nav-item">Podcasts</li></a>
        <a href="http://evopodcast.wpengine.com/shop/"><li class="nav-item">Store</li></a>
        <a href="/about.html"><li class="nav-item">About</li></a>
        <a href="/contact.html"><li class="nav-item">Contact</li></a>
      </ul>

    </div>

  </div>
</nav>

{{ content }}

<!-- {% include newsletter.html %} -->
{% include footer.html %}
